{% extends 'layout.html' %}
{% block content %}
    <h1>About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
        nesciunt ipsam eligendi. Officia quis culpa delectus nostrum facere unde
        optio beatae? Similique explicabo, rerum voluptatum maxime veritatis illum
        ex officia doloremque. Ipsum repudiandae perferendis ipsa rerum distinctio
        eveniet molestiae voluptatem omnis, debitis sequi dignissimos maxime
        deserunt quis tenetur dolore animi ullam asperiores nesciunt aut. Eos
        repellendus ratione molestiae minus beatae, labore excepturi quam est enim
        magni obcaecati unde dicta officia dolorem ut officiis, voluptatem, quos
        repudiandae et explicabo nulla ducimus natus quibusdam pariatur. Id, quae
        soluta illo perspiciatis sequi asperiores ad quibusdam dolor mollitia ipsa!
        Velit aperiam vitae iste dolorem voluptates sint excepturi quaerat
        accusantium veniam mollitia optio, asperiores aspernatur temporibus? Minus
        delectus officiis iure quia fuga autem blanditiis laboriosam asperiores eos
        nemo. Sunt ipsam sequi, corporis inventore eius hic ullam fugiat velit
        voluptates nobis aut, atque nostrum quae quam, aliquid natus facilis
        nesciunt assumenda culpa amet exercitationem. Quas alias, esse enim commodi
        possimus quam nam molestiae nobis doloremque labore neque illo ullam
        necessitatibus blanditiis voluptates sunt eos quis aspernatur doloribus
        ratione dolorum in autem ex! Architecto aspernatur laboriosam consectetur
        illo cumque doloribus aut ad amet molestias voluptatem nulla perspiciatis
        voluptate, culpa expedita delectus odio pariatur et error ipsum ab!
        Perspiciatis magnam ut nemo dolore deleniti iure adipisci. Consequatur
        debitis dolorum et nam odio fugit ipsam doloribus facilis facere at, ducimus
        accusantium rerum, quia fugiat itaque repudiandae repellat eius laborum
        ipsum atque dolorem magnam excepturi enim. Quo culpa aliquam assumenda
        molestiae perferendis earum, itaque ipsum ex eligendi pariatur, consequatur
        labore velit dolor distinctio error laudantium soluta voluptates impedit
        minus deserunt? Quod veritatis numquam, nostrum quaerat eos non esse quasi
        quas, molestias libero omnis consequatur labore corporis itaque iusto
        incidunt fuga eum nam inventore odit rerum, et repellendus! Laboriosam, sed
        sint libero in natus optio molestias labore assumenda odio delectus
        repellendus!
    </p>
{% endblock %}